<nav class="navbar glassy-bg">
  <div class="navbar__logo">
    <a href="/"
      ><img src="logo.svg" alt="Harbor Logo" class="logo-icon"
    /></a>
  </div>
  <ul class="navbar__links">
    <li><a href="/#how-it-works">Process</a></li>
    <li><a href="/#features">Features</a></li>
    <li><a href="/#for-students">Audience</a></li>
  </ul>
  <a href="/#download" class="navbar__cta">Download</a>
  <button class="navbar__hamburger" id="navbarHamburger" aria-label="Open menu">
    <span></span><span></span><span></span>
  </button>
</nav>
<div class="navbar__overlay" id="navbarOverlay">
  <div class="navbar__overlay-header">
    <div class="navbar__logo">
      <a href="/"
        ><img src="logo.svg" alt="Harbor Logo" class="logo-icon"
      /></a>
    </div>
    <button class="navbar__close" id="navbarClose" aria-label="Close menu">
      <span>&#10005;</span>
    </button>
  </div>
  <ul class="navbar__overlay-links">
    <li><a href="/#how-it-works">Process</a></li>
    <li><a href="/#features">Features</a></li>
    <li><a href="/#for-students">Audience</a></li>
  </ul>
  <a href="/#download" class="navbar__overlay-cta">Download</a>
</div>
